* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  -webkit-tap-highlight-color: transparent;
}

body {
  font-family: 'Amazon Ember', Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
  color: #0f1111;
  background: #f0f2f5;
}

input, button, textarea {
  font-family: inherit;
  outline: none;
}

button {
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  transition: all 0.1s;
}

button:active {
  transform: scale(0.98);
}

a {
  color: #007185;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
}

a:hover {
  color: #c7511f;
  text-decoration: underline;
}
